extends structure

block sidebar

block main
  div
    p
    h3= page 

    div
      table.home
        tr.home
        each item, index in json1
          td.home
            a(href="/painting/"+index title= item.title+ " "+ item.description)
              img(src=""+item.thumb width="200px")