extends structure

block sidebar

block main
  div
    p
    each item, index in json
      div
        h6= item.title
        br
        div   
            a(href="/"+page+"/"+index)
                img(src=""+item.thumb width="200px")
            //- div.product
                p= item.description
                //- p= "ISMN "+item.ismn
            //- div.product
                img(src="images/"+item.sample width="300px")
                img(src="images/"+item.illustration width="200px")

block images