extends structure

block sidebar

block main
  h3 About Mark Knight


  p Mark Knight is Professor of Violin and Viola at the Guildhall School of Music and Drama in London and the Royal Northern College of Music in Manchester. A specialist in the historical development of string playing in the 17th and 18th centuries, he has developed an acknowledged reputation for his training of players of 'modern' instruments in the essentials of authentic performing practice.  
  
  p A student of Professor Yfrah Neaman and disciple of Carl Flesch's technical principles, Mark Knight has past pupils in many of the UK's premier ensembles including the Academy of St. Martin's-in-the-Fields, London Sinfonietta and the English Chamber Orchestra, as well as senior members of several symphony orchestras. Among his ex-students are established solo performers Philip Dukes and Lawrence Power. Both have been soloists in prestigious ensembles in BBC Promenade concerts at the Royal Albert Hall.  
  
  p He has trained many ensembles and most notably the Chamber Orchestra of Wells Cathedral School which he has conducted in concerts all over the world and with whom he has made broadcasts and commercial recordings.  He has edited the 42 Etudes by Kreutzer and the Corelli Violin Sonatas, Opus 5 for the publishers Stainer & Bell of London.  Mark Knight has also published his own cadenzas for violin concertos by Mozart and viola concertos by Stamitz and Hoffmeister. Mark Knight's transcription for viola of Geoffrey Burgon's Six Studies, originally for 'cello, are published by Chester & Co. of London. Cadenzas for Haydn's 'Cello Concerto in C and and a transcription of Haydn's C major 'Cello Concerto for Viola were published in March 2004.  

  p Alongside his musical specialisms, Mark Knight propagates the benefits of the Alexander Technique which he studied with Walter Carrington, a distinguished disciple of F.M. Alexander. All his students are introduced to the technique's principles and encouraged to study with a teacher of the technique.  

  h2 Performing 

  p Whilst a student the interest in Baroque repertoire was kindled by membership of a small string ensemble specialising in this field, the Thomas Morley Chamber Orchestra, and in contemporary violin music as a result of visiting the USA. As part of his freelance performing activities he played in the London Philharmonic Orchestra. He also joined the New Cantata Orchestra of London, an ensemble specialising in eighteenth century and twentieth century repertoire, and became its leader.  
  
  p An appointment to the Southampton Education Authority involved regular recital performances and guest appearances in the city and at Southampton University both in ensembles and as a soloist. During this period the formation of a student string orchestra led to concert appearances as a conductor and soloist/director, a role which developed rapidly after being invited to teach at Wells Cathedral School and train the school's Chamber Orchestra. Since then he has conducted the orchestra in concerts all over the world, recorded for radio and television many times and made a commercial recording for Abbey Records.  
  
  p In the 1977 Bath Festival he conducted the orchestra in the first performance of Geoffrey Burgon's Concerto for Strings and in 1984 at the Queen Elizabeth Hall the second London performance of Elizabeth Maconchy's Music for Strings which subsequently led to an apearance in an Arts Council film about the composer.  Regular invitations to direct string ensembles and give masterclasses are received from professional organisations; concerts resulting have included performances for the Guildhall School in London and for education departments in several centres around the country.  
  
  h2 Teaching 
  
  p Mark Knight first gave violin lessons whilst still at school was asked to rehearse his fellow school string players for concert performances. Visiting colleges and schools has always featured throughout his professional activities from early days in London to his present status as a Professor at the Guildhall School of Music and Drama.  
  
  p For four years he worked as a peripatetic string teacher for Southampton Education Committee, followed by fifteen years at Wells Cathedral School, one of the UK's five Specialist Music Schools, twelve of them as Senior String Tutor.  
  p During this period an interest in the viola developed having commissioned an instrument from Malcolm Combes who had twice won the Facta Britannica Competition for luthiers with his instruments. Mark Knight was appointed Professor of Violin and Viola at the Guildhall School in 1976 as well as Head of Strings in the Junior Music Department, a post he had to relinquish to concentrate on the rapidly developing specialist scheme at Wells. In 1988 he rejoined the Junior Music Department when his teaching in the Senior School dictated a permanent move to London.  
  p In 2002, the Royal Northern College of Music in Manchester invited him to give a public viola class which resulted in an appointment within the School of Strings.  
  p Prestigious ensembles including the Delme and Kreutzer String Quartets, the York Trio, the Nash Ensemble, and the Guildhall String Ensemble have included students of Mark Knight. Pupils have won many awards and prizes, amongst them the Guildhall School's Millidge Prize and Gold Medal. In 1991 a pupil was offered a post-graduate place at the Moscow Conservatoire and in 2000 one of his long-term students, Lawrence Power, won the William Primrose International Viola competition.  
  p His long association with peripatetic music teaching services continues with consultancy work for local authorities in which he works alongside visiting string teachers in schools and gives workshops and Master Classes for both staff and pupils.  
  p For eighteen years he and his wife have held residential courses at their home in Cornwall for their students to experience concentrated study.  
  
  h2 Pedagogy 

  p Mark Knight began learning the violin at school through the local education authority peripatetic service in Worcestershire; he moved to London for his final two years schooling and at this time was introduced to Carl Flesch technical principles by Martha Jackson, a pupil of Max Rostal, who had been a pupil and later assistant to Carl Flesch. He continued studies with Yfrah Neaman, himself a pupil of Flesch and Rostal, at the Guildhall School of Music and Drama, London.

  p He was awarded a scholarship to Tanglewood, the International Summer School run by the Boston Symphony Orchestra in Massachusetts, USA, where he worked with many distinguished musicians including Leonard Bernstein, Charles Munch, Joseph Silverstein and William Kroll.

  p Studies with Yfrah Neaman resumed at the Guildhall School and lasted a further four years. Mark Knight was appointed Professor of Violin and Viola at the Guildhall School in 1976.

  h2 Special Interests

  p Whilst a student Mark Knight began his long association with the Alexander Technique under the tutelage of the distinguished teacher Walter Carrington, himself a pupil of F. Mathias Alexander. All students are introduced to the technique's principles and encouraged to study with a teacher of the technique.

  p The interest in the historical development of string playing has let to active encouragement of students to take up original instrument performance and to train players of "modern" violin and viola to absorb the essentials of authentic performing practice. Several ex-pupils are professional performers with "period" ensembles.

  p Mark Knight has edited the 42 Etudes by Kreutzer for the London publisher Stainer and Bell, the latter a keystone volume of technical studies for all violinists, and for the same publisher some of Corelli's Violin Sonatas op.5. He has also transcribed Geoffrey Burgon's Six Studies for Solo 'Cello for the viola which is published by Chester and Co. London.

  p Mark Knight's fascination with the historical contexts of string playing led him to composition of cadenzas, first for Mozart's Violin Concertos No.1 in B flat and No. 2 in D and then viola concertos by Stamitz and Hoffmeister. Invitations then followed for cadenzas for Haydn's 'Cello Concerto in C and two of Mozart's Horn Concertos. The Haydn project grew to become a full transcription of the concerto for the viola.

  p Full details can be found here

  p In anticipation of these activities a publishing company, Strings Attached Ltd. was formed in 1995.


block images