extends structure

block sidebar

block main
  h2 Contact

  a(href="mailto:ryand0098@gmail.com" title="ryand0098@gmail.com")
    p
    | Email: David Ryan 

  //- h5 Strings Attached Ltd. 
  //- p 
    | Great Skewes Cottage
    br
    | St. Wenn, 
    | Bodmin
    br
    | Cornwall
    | PL30 5PS
    br
    | United Kingdom
    br
    br
    | Telephone and Fax: +44 (0)1726 890 639 
    br
    br
    | Email &nbsp;
    a(href= "mailto:mkprof@icloud.com" title= "Strings Attached Ltd.")= "Strings Attached Ltd."



block images
