
.card
  .card-body.nav-main
    //- a(href="/")
      img(src="images/senh-logo-print.png" width="")
    a(href="/") David Ryan
      i(class="bi-backspace" width="100%")
    span.spacer &nbsp;|&nbsp;
    a(href="/painting") Bio
    span.spacer &nbsp;|&nbsp;
    ul.select
      li.dropdown
        a(href="/painting") Paintings 2017
      li.dropdown
        a(href="/painting") Paintings 2015 - 16
      li.dropdown
        a(href="/painting") Paintings 2013 - 14
      li.dropdown
        a(href="/painting") Paintings 2008 - 12
    span.spacer &nbsp;|&nbsp;
    a(href="/painting") Music
    span.spacer &nbsp;|&nbsp;
    a(href="/painting") Video
    span.spacer &nbsp;|&nbsp;
    a(href="/Contact") Contact