
.card
  .card-body.nav-main
    //- a(href="/")
      img(src="images/senh-logo-print.png" width="")
    a(href="/") David Ryan
      i(class="bi-backspace" width="100%")
    span.spacer &nbsp;|&nbsp;
    a(href="/painting") Paintings 2017
    span.spacer &nbsp;|&nbsp;
    a(href="/Contact") Contact