
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  padding: 0px;
  /* font-family: Helvetica, "Lucida Grande", Arial, sans-serif; */
  font: 14px; 
  background:#660;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
.nav-main {
  background:#fff;
}
.nav-main a {
  color: rgb(120,120,120,1);
  font-size: 1.1em;
}
.nav-main > span {
  color: rgb(120,120,120,1);
  font-size: 1.1em;
}
.nav-secondary {
  background: #f0eedf;
}
.nav-secondary > ul > li {
  color: rgb(40,40,40,.8);
  background: #efedde;
}
.nav-secondary > ul > li > a {
  color: rgb(25,95,55,.9);
  font-size: 1.1em;
}
.div-product > card > a > p  {
  color: rgb(90,90,0,.9);
  background: #efedde;
}

.card .card-body .nav-main a {
  color: rgb(255,255,255,1);
}

.card .card-body .nav-main a {
  color: rgb(255,255,255,1);
  font-size: 1.2em;
}

.jumbo{
  background: #efedde;
  color: rgb(55, 75, 55, 1);
  margin: 10px 6px 8px 8px;
  padding: 10px 22px 12px 10px;
}

#footer {
  background:#EEE;
  margin: 10px 0 0 0;
  padding: 0;
}

.footer {
  background:#EEE;
}

.home td {
  margin: 10px;
  padding: 20px;
}


nav {
  background: #efefef;
  margin: 0 auto;
  width: 400px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: #888;
  background: #fff;
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
}
ul li a:hover {
  background: #000;
}

nav > ul > li {
  float: left;
}

nav > ul:after {
  display: block;
  content: "";
  clear: both;
}

nav > ul ul {
  position: absolute;
  visibility: hidden;
}

nav ul li:hover > ul {
  visibility: visible;
}

nav ul ul li {
  position: relative;
}

nav ul ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}